# 가상환경 폴더 (본인 폴더 이름에 맞게 수정하세요. 보통 venv, env, .venv 중 하나를 씁니다)
frontvenv/


# 파이썬 실행 시 자동 생성되는 캐시 파일들 (이거 안 적으면 깃허브가 엄청 지저분해집니다)
__pycache__/
*.py[cod]
*$py.class

# 환경 변수 및 비밀 키 파일 (나중에 보안을 위해 중요!)
.env

# 맥(Mac) 사용자일 경우 자동 생성되는 숨김 파일
.DS_Store